# 1) Ignore everything by default
**

# 2) But keep these top-level files/folders:
!package.json
!README.md
!LICENSE
!syntaxes/
!resources/
!out/

# 3) Within out/, keep only your JS bundles:
out/**

# 4) Exclude maps and TS source:
out/**/*.map
client/
server/
src/
.vscode/
.git/
*.log


!out/extension.js
!out/server.js
!out/rdfusion.vsix
!server/out/**
!client/out/**
node_modules/*
!node_modules/jsonc-parser/lib/esm/impl/**